
.container-fluid {
    background-color: gainsboro;
    height: 90px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
}

.row {
    margin: 30px;
}

.grid {
    background-color: gainsboro;
    width: 1200px;
    border-radius: 20px;
    height: 300px;
    margin-top: 40px;
    margin-left: 85px;
}

