.container-fluid {
    background-color: gainsboro;
    height: 90px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
}

.row {
    margin-top: 40px;
  
}

.col {
    background-color: gainsboro;
    height: 200px;
    margin-left: 45px;
    margin-top: 10px;
    border-radius: 15px;
}